body {
  font-family: Rubik;
}
.display-1 {
  font-family: 'TAIPEISANSTCBETA-BOLD';
  font-size: 5rem;
  font-display: swap;
}
.display-1 > .mbr-iconfont {
  font-size: 8rem;
}
.display-2 {
  font-family: 'TAIPEISANSTCBETA-BOLD';
  font-size: 3rem;
  font-display: swap;
}
.display-2 > .mbr-iconfont {
  font-size: 4.8rem;
}
.display-4 {
  font-family: 'TAIPEISANSTCBETA-REGULAR';
  font-size: 1rem;
  font-display: swap;
}
.display-4 > .mbr-iconfont {
  font-size: 1.6rem;
}
.display-5 {
  font-family: 'TAIPEISANSTCBETA-BOLD';
  font-size: 2rem;
  font-display: swap;
}
.display-5 > .mbr-iconfont {
  font-size: 3.2rem;
}
.display-7 {
  font-family: 'TAIPEISANSTCBETA-BOLD';
  font-size: 1.2rem;
  font-display: swap;
}
.display-7 > .mbr-iconfont {
  font-size: 1.92rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 4rem;
    font-size: calc( 2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.4rem + (5 - 2.4) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #149dcc !important;
}
.bg-success {
  background-color: #f7ed4a !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #149dcc !important;
  border-color: #149dcc !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-info,
.btn-info:active {
  background-color: #82786e !important;
  border-color: #82786e !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success,
.btn-success:active {
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
  color: #3f3c03 !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #3f3c03 !important;
  background-color: #eadd0a !important;
  border-color: #eadd0a !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #879a9f !important;
  border-color: #879a9f !important;
  color: #ffffff !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #0b566f;
  color: #0b566f;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #149dcc;
  border-color: #149dcc;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #149dcc !important;
  border-color: #149dcc !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #cc0033;
  color: #cc0033;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ff3366;
  border-color: #ff3366;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #d2c609;
  color: #d2c609;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #3f3c03;
  background-color: #f7ed4a;
  border-color: #f7ed4a;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #3f3c03 !important;
  background-color: #f7ed4a !important;
  border-color: #f7ed4a !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #149dcc !important;
}
.text-secondary {
  color: #ff3366 !important;
}
.text-success {
  color: #f7ed4a !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #0b566f !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #cc0033 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #d2c609 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2) !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #149dcc;
  border-color: #149dcc;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #149dcc;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #b4e6f8;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'TAIPEISANSTCBETA-BOLD';
  font-size: 1.2rem;
  font-display: swap;
}
.form-control > .mbr-iconfont {
  font-size: 1.92rem;
}
blockquote {
  border-color: #149dcc;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.form2 .form-control {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.form2 .input-group-btn a.btn {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form2 .input-group-btn button[type="submit"] {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.form3 input[type="email"] {
  border-radius: 100px !important;
}
@media (max-width: 349px) {
  .form2 input[type="email"] {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn a.btn {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #149dcc;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #149dcc;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .card-wrapper {
    flex: auto !important;
  }
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #149dcc;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #149dcc;
  border-bottom-color: #149dcc;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #149dcc !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #ff3366 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 100px;
  height: 100px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23149dcc' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.3;
}
.cid-tbpIvq9k2l {
  background-image: url("../../../assets/images/ten.gif");
}
.cid-tbqXS9Pmmg {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
}
.cid-tbn1SvTTWV {
  background-image: url("../../../assets/images/fengmianjuzhong-1-2000x1125.png");
}
.cid-tbntzEq7BS {
  padding-top: 45px;
  padding-bottom: 0px;
  background-color: #000000;
}
.cid-tbntzEq7BS .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tbntzEq7BS H2 {
  color: #ffffff;
}
.cid-tbnb1OK1JH {
  padding-top: 45px;
  padding-bottom: 90px;
  background-color: #000000;
}
.cid-tbnb1OK1JH h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-tbnb1OK1JH p {
  color: #767676;
  text-align: left;
}
.cid-tbnb1OK1JH .card-box {
  padding-top: 2rem;
}
.cid-tbnb1OK1JH .card-wrapper {
  height: 100%;
}
.cid-tbnb1OK1JH P {
  text-align: center;
  color: #ffffff;
}
.cid-tbnb1OK1JH .card-title {
  text-align: center;
  color: #ffffff;
}
.cid-tbpM4smQA0 {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #000000;
}
.cid-tbpM4smQA0 H3 {
  color: #ffffff;
}
.cid-tbnRksZzG0 {
  padding-top: 120px;
  padding-bottom: 15px;
  background-color: #000000;
}
.cid-tbnRksZzG0 .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tbnRksZzG0 H2 {
  color: #ffffff;
}
.cid-tbn20yrAKG {
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: #000000;
}
.cid-tbn20yrAKG .card-box {
  padding: 0 2rem;
}
.cid-tbn20yrAKG .mbr-section-btn {
  padding-top: 1rem;
}
.cid-tbn20yrAKG .mbr-section-btn a {
  margin-top: 1rem;
  margin-bottom: 0;
}
.cid-tbn20yrAKG h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
  padding-top: 2rem;
}
.cid-tbn20yrAKG p {
  margin-bottom: 0;
  text-align: left;
  padding-top: 1.5rem;
}
.cid-tbn20yrAKG .mbr-text {
  color: #767676;
}
.cid-tbn20yrAKG .card-wrapper {
  height: 100%;
  padding-bottom: 2rem;
  background: #000000;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-tbn20yrAKG .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-tbn20yrAKG .card-title {
  color: #ffffff;
}
.cid-tbnvVPbqBK {
  padding-top: 0px;
  padding-bottom: 15px;
  background-color: #000000;
}
.cid-tbnvVPbqBK .card-box {
  padding: 0 2rem;
}
.cid-tbnvVPbqBK .mbr-section-btn {
  padding-top: 1rem;
}
.cid-tbnvVPbqBK .mbr-section-btn a {
  margin-top: 1rem;
  margin-bottom: 0;
}
.cid-tbnvVPbqBK h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
  padding-top: 2rem;
}
.cid-tbnvVPbqBK p {
  margin-bottom: 0;
  text-align: left;
  padding-top: 1.5rem;
}
.cid-tbnvVPbqBK .mbr-text {
  color: #767676;
}
.cid-tbnvVPbqBK .card-wrapper {
  height: 100%;
  padding-bottom: 2rem;
  background: #000000;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-tbnvVPbqBK .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-tbnvVPbqBK .card-title {
  color: #ffffff;
}
.cid-tbnvWMYR5T {
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: #000000;
}
.cid-tbnvWMYR5T .card-box {
  padding: 0 2rem;
}
.cid-tbnvWMYR5T .mbr-section-btn {
  padding-top: 1rem;
}
.cid-tbnvWMYR5T .mbr-section-btn a {
  margin-top: 1rem;
  margin-bottom: 0;
}
.cid-tbnvWMYR5T h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
  padding-top: 2rem;
}
.cid-tbnvWMYR5T p {
  margin-bottom: 0;
  text-align: left;
  padding-top: 1.5rem;
}
.cid-tbnvWMYR5T .mbr-text {
  color: #767676;
}
.cid-tbnvWMYR5T .card-wrapper {
  height: 100%;
  padding-bottom: 2rem;
  background: #000000;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-tbnvWMYR5T .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-tbnvWMYR5T .card-title {
  color: #ffffff;
}
.cid-tbnvX7AXrS {
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: #000000;
}
.cid-tbnvX7AXrS .card-box {
  padding: 0 2rem;
}
.cid-tbnvX7AXrS .mbr-section-btn {
  padding-top: 1rem;
}
.cid-tbnvX7AXrS .mbr-section-btn a {
  margin-top: 1rem;
  margin-bottom: 0;
}
.cid-tbnvX7AXrS h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
  padding-top: 2rem;
}
.cid-tbnvX7AXrS p {
  margin-bottom: 0;
  text-align: left;
  padding-top: 1.5rem;
}
.cid-tbnvX7AXrS .mbr-text {
  color: #767676;
}
.cid-tbnvX7AXrS .card-wrapper {
  height: 100%;
  padding-bottom: 2rem;
  background: #000000;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-tbnvX7AXrS .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-tbnvX7AXrS .card-title {
  color: #ffffff;
}
.cid-tbosMJTqc8 {
  padding-top: 15px;
  padding-bottom: 75px;
  background-color: #000000;
}
.cid-tbosMJTqc8 .card-box {
  padding: 0 2rem;
}
.cid-tbosMJTqc8 .mbr-section-btn {
  padding-top: 1rem;
}
.cid-tbosMJTqc8 .mbr-section-btn a {
  margin-top: 1rem;
  margin-bottom: 0;
}
.cid-tbosMJTqc8 h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
  padding-top: 2rem;
}
.cid-tbosMJTqc8 p {
  margin-bottom: 0;
  text-align: left;
  padding-top: 1.5rem;
}
.cid-tbosMJTqc8 .mbr-text {
  color: #767676;
}
.cid-tbosMJTqc8 .card-wrapper {
  height: 100%;
  padding-bottom: 2rem;
  background: #000000;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-tbosMJTqc8 .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-tbosMJTqc8 .card-title {
  color: #ffffff;
}
.cid-tbovU2zPcZ {
  padding-top: 60px;
  padding-bottom: 0px;
  background-color: #000000;
}
.cid-tbovU2zPcZ .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tbovU2zPcZ H2 {
  color: #ffffff;
}
.cid-tboAVA2Bgz {
  padding-top: 15px;
  padding-bottom: 75px;
  background-color: #000000;
}
.cid-tboAVA2Bgz .card-box {
  padding: 0 2rem;
}
.cid-tboAVA2Bgz .mbr-section-btn {
  padding-top: 1rem;
}
.cid-tboAVA2Bgz .mbr-section-btn a {
  margin-top: 1rem;
  margin-bottom: 0;
}
.cid-tboAVA2Bgz h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
  padding-top: 2rem;
}
.cid-tboAVA2Bgz p {
  margin-bottom: 0;
  text-align: left;
  padding-top: 1.5rem;
}
.cid-tboAVA2Bgz .mbr-text {
  color: #767676;
}
.cid-tboAVA2Bgz .card-wrapper {
  height: 100%;
  padding-bottom: 2rem;
  background: #000000;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-tboAVA2Bgz .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-tboAVA2Bgz .card-title {
  color: #ffffff;
}
.cid-tboLSjXBrn {
  padding-top: 15px;
  padding-bottom: 75px;
  background-color: #000000;
}
.cid-tboLSjXBrn .card-box {
  padding: 0 2rem;
}
.cid-tboLSjXBrn .mbr-section-btn {
  padding-top: 1rem;
}
.cid-tboLSjXBrn .mbr-section-btn a {
  margin-top: 1rem;
  margin-bottom: 0;
}
.cid-tboLSjXBrn h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
  padding-top: 2rem;
}
.cid-tboLSjXBrn p {
  margin-bottom: 0;
  text-align: left;
  padding-top: 1.5rem;
}
.cid-tboLSjXBrn .mbr-text {
  color: #767676;
}
.cid-tboLSjXBrn .card-wrapper {
  height: 100%;
  padding-bottom: 2rem;
  background: #000000;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-tboLSjXBrn .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-tboLSjXBrn .card-title {
  color: #ffffff;
}
.cid-tbqcn1tQRU {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #000000;
}
.cid-tbqcn1tQRU .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tbqcn1tQRU H2 {
  color: #ffffff;
}
.cid-tbqbOYyWbs {
  padding-top: 90px;
  padding-bottom: 15px;
  background-color: #000000;
}
.cid-tbqbOYyWbs .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tbqbOYyWbs H2 {
  color: #ffffff;
}
.cid-tbn1Uyn92T {
  background: #ffffff;
}
.cid-tbn1Uyn92T .video-block {
  margin: auto;
  width: 100% !important;
}
@media (max-width: 768px) {
  .cid-tbn1Uyn92T .video-block {
    width: 100% !important;
  }
}
.cid-tbovT5Oazg {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #000000;
}
.cid-tbovT5Oazg .mbr-section-subtitle {
  color: #cccccc;
}
.cid-tbovT5Oazg H2 {
  color: #ffffff;
}
.cid-tbqXS9Pmmg {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
}
.cid-tbombu7BTD {
  background-image: url("../../../assets/images/6-1-1920x1080.png");
}
.cid-tbqxpKKz8B {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #000000;
}
.cid-tbqxpKKz8B .mbr-section-subtitle {
  color: #000000;
}
.cid-tbqxpKKz8B H2 {
  color: #c1c1c1;
}
.cid-tbomdODO5Z {
  background: #ffffff;
}
.cid-tbomdODO5Z .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-tbomdODO5Z .mbr-figure {
  margin: 0 auto;
}
.cid-tbomdODO5Z figcaption {
  position: relative;
}
.cid-tbomdODO5Z figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-tbomdODO5Z .image-block {
    width: 100% !important;
  }
}
.cid-tbonglMCw3 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #000000;
}
.cid-tbonglMCw3 .mbr-section-subtitle {
  color: #767676;
}
.cid-tbomeJkvdb {
  background: #ffffff;
}
.cid-tbomeJkvdb .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-tbomeJkvdb .mbr-figure {
  margin: 0 auto;
}
.cid-tbomeJkvdb figcaption {
  position: relative;
}
.cid-tbomeJkvdb figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-tbomeJkvdb .image-block {
    width: 100% !important;
  }
}
.cid-tbrl7CidDi {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #000000;
}
.cid-tbrl7CidDi .mbr-section-subtitle {
  color: #00ff87;
}
.cid-tbrl7CidDi H2 {
  color: #00ff87;
}
.cid-tbrl5gYihV {
  background: #ffffff;
}
.cid-tbrl5gYihV .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-tbrl5gYihV .mbr-figure {
  margin: 0 auto;
}
.cid-tbrl5gYihV figcaption {
  position: relative;
}
.cid-tbrl5gYihV figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-tbrl5gYihV .image-block {
    width: 100% !important;
  }
}
.cid-tbrlcOUGnH {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #000000;
}
.cid-tbrlcOUGnH .mbr-section-subtitle {
  color: #00ff87;
}
.cid-tbrlcOUGnH H2 {
  color: #00ff87;
}
.cid-tbrledo5E8 {
  background: #ffffff;
}
.cid-tbrledo5E8 .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-tbrledo5E8 .mbr-figure {
  margin: 0 auto;
}
.cid-tbrledo5E8 figcaption {
  position: relative;
}
.cid-tbrledo5E8 figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-tbrledo5E8 .image-block {
    width: 100% !important;
  }
}
.cid-tbqxDrJcmx {
  padding-top: 15px;
  padding-bottom: 60px;
  background-color: #000000;
}
.cid-tbqxDrJcmx .mbr-section-subtitle {
  color: #000000;
}
.cid-tbqxDrJcmx H2 {
  color: #c1c1c1;
}
.cid-tbqBepxENY {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #000000;
}
.cid-tbqBepxENY .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tbqBepxENY H2 {
  color: #ffffff;
}
.cid-tbqAmotlTz {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #000000;
}
.cid-tbqAmotlTz h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-tbqAmotlTz p {
  color: #767676;
  text-align: left;
}
.cid-tbqAmotlTz .card-box {
  padding-top: 2rem;
}
.cid-tbqAmotlTz .card-wrapper {
  height: 100%;
}
.cid-tbqAHYLJVl {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #000000;
}
.cid-tbqAHYLJVl h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
}
.cid-tbqAHYLJVl p {
  color: #767676;
  text-align: left;
}
.cid-tbqAHYLJVl .card-box {
  padding-top: 2rem;
}
.cid-tbqAHYLJVl .card-wrapper {
  height: 100%;
}
.cid-tbqyLRVtwy {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #000000;
}
.cid-tbqyLRVtwy .mbr-section-subtitle {
  color: #ffffff;
}
.cid-tbqyLRVtwy H2 {
  color: #ffffff;
}
.cid-tbqyb68Dau {
  background: #ffffff;
}
.cid-tbqyb68Dau .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-tbqyb68Dau .mbr-figure {
  margin: 0 auto;
}
.cid-tbqyb68Dau figcaption {
  position: relative;
}
.cid-tbqyb68Dau figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-tbqyb68Dau .image-block {
    width: 100% !important;
  }
}
.cid-tbqz16skJa {
  padding-top: 15px;
  padding-bottom: 60px;
  background-color: #000000;
}
.cid-tbqz16skJa .mbr-section-subtitle {
  color: #000000;
}
.cid-tbqz16skJa H2 {
  color: #c1c1c1;
}
.cid-tbqXS9Pmmg {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
}
.cid-tbopzKFXWS {
  background-image: url("../../../assets/images/-20220710230820-2000x1125.png");
}
.cid-tboq2dpJ7c {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #000000;
}
.cid-tboq2dpJ7c .mbr-section-subtitle {
  color: #00ff87;
}
.cid-tboq2dpJ7c H2 {
  color: #00ff87;
}
.cid-tboprmJCHD {
  background: #ffffff;
}
.cid-tboprmJCHD .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-tboprmJCHD .mbr-figure {
  margin: 0 auto;
}
.cid-tboprmJCHD figcaption {
  position: relative;
}
.cid-tboprmJCHD figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-tboprmJCHD .image-block {
    width: 100% !important;
  }
}
.cid-tbqwCBJbmb {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #000000;
}
.cid-tbqwCBJbmb .mbr-section-subtitle {
  color: #000000;
}
.cid-tbqwCBJbmb H2 {
  color: #c1c1c1;
}
.cid-tbqwC25sNY {
  background: #ffffff;
}
.cid-tbqwC25sNY .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-tbqwC25sNY .mbr-figure {
  margin: 0 auto;
}
.cid-tbqwC25sNY figcaption {
  position: relative;
}
.cid-tbqwC25sNY figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-tbqwC25sNY .image-block {
    width: 100% !important;
  }
}
.cid-tbqXS9Pmmg {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
}
.cid-tboqnP8gHM {
  background-image: url("../../../assets/images/desert3.0265-1920x1080.jpg");
}
.cid-tboqomLOg6 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #000000;
}
.cid-tboqomLOg6 .mbr-section-subtitle {
  color: #cccccc;
}
.cid-tboqomLOg6 H2 {
  color: #ffffff;
}
.cid-tboqrH2Ujm {
  background: #ffffff;
}
.cid-tboqrH2Ujm .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-tboqrH2Ujm .mbr-figure {
  margin: 0 auto;
}
.cid-tboqrH2Ujm figcaption {
  position: relative;
}
.cid-tboqrH2Ujm figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-tboqrH2Ujm .image-block {
    width: 100% !important;
  }
}
.cid-tboqvdLHEY {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #000000;
}
.cid-tboqvdLHEY .mbr-section-subtitle {
  color: #cccccc;
}
.cid-tboqvdLHEY H2 {
  color: #ffffff;
}
.cid-tborztNhpD {
  background: #ffffff;
}
.cid-tborztNhpD .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-tborztNhpD .mbr-figure {
  margin: 0 auto;
}
.cid-tborztNhpD figcaption {
  position: relative;
}
.cid-tborztNhpD figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-tborztNhpD .image-block {
    width: 100% !important;
  }
}
.cid-tborzRXz6W {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #000000;
}
.cid-tborzRXz6W .mbr-section-subtitle {
  color: #cccccc;
}
.cid-tborzRXz6W H2 {
  color: #ffffff;
}
.cid-tboqsb2K1j {
  background: #ffffff;
}
.cid-tboqsb2K1j .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-tboqsb2K1j .mbr-figure {
  margin: 0 auto;
}
.cid-tboqsb2K1j figcaption {
  position: relative;
}
.cid-tboqsb2K1j figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-tboqsb2K1j .image-block {
    width: 100% !important;
  }
}
.cid-tboqutEtW9 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #000000;
}
.cid-tboqutEtW9 .mbr-section-subtitle {
  color: #cccccc;
}
.cid-tboqutEtW9 H2 {
  color: #ffffff;
}
.cid-tboqstxR4S {
  background: #ffffff;
}
.cid-tboqstxR4S .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-tboqstxR4S .mbr-figure {
  margin: 0 auto;
}
.cid-tboqstxR4S figcaption {
  position: relative;
}
.cid-tboqstxR4S figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-tboqstxR4S .image-block {
    width: 100% !important;
  }
}
.cid-tborcljWvW {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #000000;
}
.cid-tborcljWvW .mbr-section-subtitle {
  color: #cccccc;
}
.cid-tborcljWvW H2 {
  color: #ffffff;
}
.cid-tbqXS9Pmmg {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
}
.cid-tborPLssSc {
  background-image: url("../../../assets/images/4.00-00-06-00.still001-1920x1080.jpg");
}
.cid-tborQ4M2GB {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #000000;
}
.cid-tborQ4M2GB .mbr-section-subtitle {
  color: #cccccc;
}
.cid-tborQ4M2GB H2 {
  color: #ffffff;
}
.cid-tborQNQeVm {
  background: #ffffff;
}
.cid-tborQNQeVm .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-tborQNQeVm .mbr-figure {
  margin: 0 auto;
}
.cid-tborQNQeVm figcaption {
  position: relative;
}
.cid-tborQNQeVm figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-tborQNQeVm .image-block {
    width: 100% !important;
  }
}
.cid-tborQzDHKV {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #000000;
}
.cid-tborQzDHKV .mbr-section-subtitle {
  color: #cccccc;
}
.cid-tborQzDHKV H2 {
  color: #ffffff;
}
.cid-tbpZRb6AiU {
  background: #ffffff;
}
.cid-tbpZRb6AiU .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-tbpZRb6AiU .mbr-figure {
  margin: 0 auto;
}
.cid-tbpZRb6AiU figcaption {
  position: relative;
}
.cid-tbpZRb6AiU figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-tbpZRb6AiU .image-block {
    width: 100% !important;
  }
}
.cid-tbpZRL6rn8 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #000000;
}
.cid-tbpZRL6rn8 .mbr-section-subtitle {
  color: #00ff87;
}
.cid-tbpZRL6rn8 H2 {
  color: #00ff87;
}
.cid-tbosgdHNNG {
  background: #ffffff;
}
.cid-tbosgdHNNG .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-tbosgdHNNG .mbr-figure {
  margin: 0 auto;
}
.cid-tbosgdHNNG figcaption {
  position: relative;
}
.cid-tbosgdHNNG figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-tbosgdHNNG .image-block {
    width: 100% !important;
  }
}
.cid-tbosgB76Wy {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #000000;
}
.cid-tbosgB76Wy .mbr-section-subtitle {
  color: #cccccc;
}
.cid-tbosgB76Wy H2 {
  color: #ffffff;
}
.cid-tboslVww0b {
  background: #ffffff;
}
.cid-tboslVww0b .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-tboslVww0b .mbr-figure {
  margin: 0 auto;
}
.cid-tboslVww0b figcaption {
  position: relative;
}
.cid-tboslVww0b figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-tboslVww0b .image-block {
    width: 100% !important;
  }
}
.cid-tbosmdIUHr {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #000000;
}
.cid-tbosmdIUHr .mbr-section-subtitle {
  color: #cccccc;
}
.cid-tbosmdIUHr H2 {
  color: #ffffff;
}
.cid-tborR52cpG {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #000000;
}
.cid-tborR52cpG .mbr-section-subtitle {
  color: #cccccc;
}
.cid-tborR52cpG H2 {
  color: #ffffff;
}
.cid-tbqXS9Pmmg {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
}
.cid-tbpaOV10zh {
  background: #ffffff;
}
.cid-tbpaOV10zh .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-tbpaOV10zh .mbr-figure {
  margin: 0 auto;
}
.cid-tbpaOV10zh figcaption {
  position: relative;
}
.cid-tbpaOV10zh figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-tbpaOV10zh .image-block {
    width: 100% !important;
  }
}
.cid-tbpaPwcc7o {
  padding-top: 15px;
  padding-bottom: 60px;
  background-color: #000000;
}
.cid-tbpaPwcc7o .mbr-section-subtitle {
  color: #cccccc;
  text-align: center;
}
.cid-tbpaPwcc7o H2 {
  color: #00ff87;
}
.cid-tbpaPwcc7o .mbr-section-subtitle DIV {
  text-align: left;
}
.cid-tbpRqgSiF1 {
  background-color: #000000;
}
.cid-tbpRqgSiF1 .mbr-text,
.cid-tbpRqgSiF1 .mbr-section-btn {
  text-align: left;
  color: #cccccc;
}
.cid-tbpRqgSiF1 H3 {
  text-align: left;
}
.cid-tbpaPOIxnY {
  background: #ffffff;
}
.cid-tbpaPOIxnY .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-tbpaPOIxnY .mbr-figure {
  margin: 0 auto;
}
.cid-tbpaPOIxnY figcaption {
  position: relative;
}
.cid-tbpaPOIxnY figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-tbpaPOIxnY .image-block {
    width: 100% !important;
  }
}
.cid-tbpaQfs2Qx {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #000000;
}
.cid-tbpaQfs2Qx .mbr-section-subtitle {
  color: #cccccc;
  text-align: left;
}
.cid-tbpaQfs2Qx H2 {
  color: #00ff87;
}
.cid-tbpaQfs2Qx .mbr-section-subtitle DIV {
  text-align: left;
}
.cid-tbpPCxiu40 {
  background: #ffffff;
}
.cid-tbpPCxiu40 .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-tbpPCxiu40 .mbr-figure {
  margin: 0 auto;
}
.cid-tbpPCxiu40 figcaption {
  position: relative;
}
.cid-tbpPCxiu40 figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-tbpPCxiu40 .image-block {
    width: 100% !important;
  }
}
.cid-tbpPD9kpAQ {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #000000;
}
.cid-tbpPD9kpAQ .mbr-section-subtitle {
  color: #00ff87;
}
.cid-tbpPD9kpAQ H2 {
  color: #00ff87;
}
.cid-tbpPDO2KZn {
  background: #ffffff;
}
.cid-tbpPDO2KZn .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-tbpPDO2KZn .mbr-figure {
  margin: 0 auto;
}
.cid-tbpPDO2KZn figcaption {
  position: relative;
}
.cid-tbpPDO2KZn figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-tbpPDO2KZn .image-block {
    width: 100% !important;
  }
}
.cid-tbpPG59yAO {
  padding-top: 15px;
  padding-bottom: 75px;
  background-color: #000000;
}
.cid-tbpPG59yAO .card-box {
  padding: 0 2rem;
}
.cid-tbpPG59yAO .mbr-section-btn {
  padding-top: 1rem;
}
.cid-tbpPG59yAO .mbr-section-btn a {
  margin-top: 1rem;
  margin-bottom: 0;
}
.cid-tbpPG59yAO h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
  padding-top: 2rem;
}
.cid-tbpPG59yAO p {
  margin-bottom: 0;
  text-align: left;
  padding-top: 1.5rem;
}
.cid-tbpPG59yAO .mbr-text {
  color: #767676;
}
.cid-tbpPG59yAO .card-wrapper {
  height: 100%;
  padding-bottom: 2rem;
  background: #000000;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-tbpPG59yAO .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-tbpPG59yAO .card-title {
  color: #cccccc;
  text-align: left;
}
.cid-tbpUuiKZvq {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #000000;
}
.cid-tbpUuiKZvq .mbr-text,
.cid-tbpUuiKZvq .mbr-section-btn {
  text-align: left;
  color: #cccccc;
}
.cid-tbpUuiKZvq H3 {
  text-align: left;
}
.cid-tbqXS9Pmmg {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
}
.cid-tbouxy0Azn {
  background-image: url("../../../assets/images/681657645169-.pic-hd-2000x1210.jpg");
}
.cid-tbouysn8Dw {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #000000;
}
.cid-tbouysn8Dw .mbr-section-subtitle {
  color: #cccccc;
}
.cid-tbouysn8Dw H2 {
  color: #ffffff;
}
.cid-tbouyVWH4I {
  background: #ffffff;
}
.cid-tbouyVWH4I .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-tbouyVWH4I .mbr-figure {
  margin: 0 auto;
}
.cid-tbouyVWH4I figcaption {
  position: relative;
}
.cid-tbouyVWH4I figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-tbouyVWH4I .image-block {
    width: 100% !important;
  }
}
.cid-tbouzgauwm {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #000000;
}
.cid-tbouzgauwm .mbr-section-subtitle {
  color: #cccccc;
}
.cid-tbouzgauwm H2 {
  color: #ffffff;
}
.cid-tbouzzWT9H {
  background: #ffffff;
}
.cid-tbouzzWT9H .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-tbouzzWT9H .mbr-figure {
  margin: 0 auto;
}
.cid-tbouzzWT9H figcaption {
  position: relative;
}
.cid-tbouzzWT9H figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-tbouzzWT9H .image-block {
    width: 100% !important;
  }
}
.cid-tbouzVe6Fl {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #000000;
}
.cid-tbouzVe6Fl .mbr-section-subtitle {
  color: #cccccc;
}
.cid-tbouzVe6Fl H2 {
  color: #ffffff;
}
.cid-tbqXS9Pmmg {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
}
.cid-tbouX2xlNS {
  background-image: url("../../../assets/images/641657644530-.pic-hd-2000x1050.png");
}
.cid-tbouXflknx {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #000000;
}
.cid-tbouXflknx .mbr-section-subtitle {
  color: #cccccc;
}
.cid-tbouXflknx H2 {
  color: #ffffff;
}
.cid-tbouXyjWq9 {
  background: #ffffff;
}
.cid-tbouXyjWq9 .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-tbouXyjWq9 .mbr-figure {
  margin: 0 auto;
}
.cid-tbouXyjWq9 figcaption {
  position: relative;
}
.cid-tbouXyjWq9 figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-tbouXyjWq9 .image-block {
    width: 100% !important;
  }
}
.cid-tbouY5YE13 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #000000;
}
.cid-tbouY5YE13 .mbr-section-subtitle {
  color: #cccccc;
}
.cid-tbouY5YE13 H2 {
  color: #ffffff;
}
.cid-tbouYoi9Fs {
  background: #ffffff;
}
.cid-tbouYoi9Fs .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-tbouYoi9Fs .mbr-figure {
  margin: 0 auto;
}
.cid-tbouYoi9Fs figcaption {
  position: relative;
}
.cid-tbouYoi9Fs figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-tbouYoi9Fs .image-block {
    width: 100% !important;
  }
}
.cid-tbovcwXEUm {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #000000;
}
.cid-tbovcwXEUm .mbr-section-subtitle {
  color: #cccccc;
}
.cid-tbovcwXEUm H2 {
  color: #ffffff;
}
.cid-tbovcZCYC7 {
  background: #ffffff;
}
.cid-tbovcZCYC7 .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-tbovcZCYC7 .mbr-figure {
  margin: 0 auto;
}
.cid-tbovcZCYC7 figcaption {
  position: relative;
}
.cid-tbovcZCYC7 figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-tbovcZCYC7 .image-block {
    width: 100% !important;
  }
}
.cid-tbqXS9Pmmg {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
}
.cid-tbowUKvoSe {
  background-image: url("../../../assets/images/image-156-1920x1080.png");
}
.cid-tbowV38Ry0 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #000000;
}
.cid-tbowV38Ry0 .mbr-section-subtitle {
  color: #cccccc;
}
.cid-tbowV38Ry0 H2 {
  color: #ffffff;
}
.cid-tbowVQhONT {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #000000;
}
.cid-tbowVQhONT .mbr-section-subtitle {
  color: #cccccc;
}
.cid-tbowVQhONT H2 {
  color: #ffffff;
}
.cid-tbqXS9Pmmg {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
}
.cid-tbp9n7eecD {
  background-color: #000000;
}
.cid-tbp9n7eecD .mbr-text,
.cid-tbp9n7eecD .mbr-section-btn {
  text-align: left;
  color: #cccccc;
}
.cid-tboZ4rhkJi {
  background: #ffffff;
}
.cid-tboZ4rhkJi .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-tboZ4rhkJi .mbr-figure {
  margin: 0 auto;
}
.cid-tboZ4rhkJi figcaption {
  position: relative;
}
.cid-tboZ4rhkJi figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-tboZ4rhkJi .image-block {
    width: 100% !important;
  }
}
.cid-tboZ5D8You {
  padding-top: 120px;
  padding-bottom: 120px;
  background-color: #000000;
}
.cid-tboZ5D8You .mbr-section-subtitle {
  color: #cccccc;
}
.cid-tboZ5D8You H2 {
  color: #ffffff;
}
.cid-tbp6kLCzdF {
  background: #ffffff;
}
.cid-tbp6kLCzdF .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-tbp6kLCzdF .mbr-figure {
  margin: 0 auto;
}
.cid-tbp6kLCzdF figcaption {
  position: relative;
}
.cid-tbp6kLCzdF figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-tbp6kLCzdF .image-block {
    width: 100% !important;
  }
}
.cid-tbp6BdhNJZ {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #000000;
}
.cid-tbp6BdhNJZ .mbr-section-subtitle {
  color: #cccccc;
  text-align: left;
}
.cid-tbp6BdhNJZ H2 {
  color: #00ff87;
}
.cid-tbp6BdhNJZ .mbr-section-subtitle DIV {
  text-align: left;
}
.cid-tbp8kcJpHR {
  background: #ffffff;
}
.cid-tbp8kcJpHR .video-block {
  margin: auto;
  width: 100% !important;
}
@media (max-width: 768px) {
  .cid-tbp8kcJpHR .video-block {
    width: 100% !important;
  }
}
.cid-tbqXS9Pmmg {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
}
.cid-tbqdNgHCiw {
  background: #ffffff;
}
.cid-tbqdNgHCiw .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-tbqdNgHCiw .mbr-figure {
  margin: 0 auto;
}
.cid-tbqdNgHCiw figcaption {
  position: relative;
}
.cid-tbqdNgHCiw figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-tbqdNgHCiw .image-block {
    width: 100% !important;
  }
}
.cid-tbqf6MaIBN {
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #ffffff;
}
.cid-tbqf6MaIBN .mbr-section-subtitle {
  color: #000000;
}
.cid-tbqf6MaIBN H2 {
  color: #c1c1c1;
}
.cid-tbqpIk9XRG {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #ffffff;
}
.cid-tbqpIk9XRG .mbr-section-subtitle {
  color: #000000;
}
.cid-tbqpIk9XRG H2 {
  color: #c1c1c1;
}
.cid-tbqgwSLwzD {
  padding-top: 15px;
  padding-bottom: 0px;
  background-color: #ffffff;
}
.cid-tbqgwSLwzD .card-box {
  padding: 0 2rem;
}
.cid-tbqgwSLwzD .mbr-section-btn {
  padding-top: 1rem;
}
.cid-tbqgwSLwzD .mbr-section-btn a {
  margin-top: 1rem;
  margin-bottom: 0;
}
.cid-tbqgwSLwzD h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
  padding-top: 2rem;
}
.cid-tbqgwSLwzD p {
  margin-bottom: 0;
  text-align: left;
  padding-top: 1.5rem;
}
.cid-tbqgwSLwzD .mbr-text {
  color: #000000;
  text-align: center;
}
.cid-tbqgwSLwzD .card-wrapper {
  height: 100%;
  padding-bottom: 2rem;
  background: #ffffff;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-tbqgwSLwzD .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-tbqgwSLwzD .card-title {
  color: #ffffff;
}
.cid-tbqhwGxrX2 {
  padding-top: 15px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
.cid-tbqhwGxrX2 .card-box {
  padding: 0 2rem;
}
.cid-tbqhwGxrX2 .mbr-section-btn {
  padding-top: 1rem;
}
.cid-tbqhwGxrX2 .mbr-section-btn a {
  margin-top: 1rem;
  margin-bottom: 0;
}
.cid-tbqhwGxrX2 h4 {
  font-weight: 500;
  margin-bottom: 0;
  text-align: left;
  padding-top: 2rem;
}
.cid-tbqhwGxrX2 p {
  margin-bottom: 0;
  text-align: left;
  padding-top: 1.5rem;
}
.cid-tbqhwGxrX2 .mbr-text {
  color: #000000;
  text-align: center;
}
.cid-tbqhwGxrX2 .card-wrapper {
  height: 100%;
  padding-bottom: 2rem;
  background: #ffffff;
  box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
  transition: box-shadow 0.3s;
}
.cid-tbqhwGxrX2 .card-wrapper:hover {
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.05);
  transition: box-shadow 0.3s;
}
.cid-tbqhwGxrX2 .card-title {
  color: #ffffff;
}
.cid-tbqfx9pjl5 {
  background: #ffffff;
}
.cid-tbqfx9pjl5 .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-tbqfx9pjl5 .mbr-figure {
  margin: 0 auto;
}
.cid-tbqfx9pjl5 figcaption {
  position: relative;
}
.cid-tbqfx9pjl5 figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-tbqfx9pjl5 .image-block {
    width: 100% !important;
  }
}
.cid-tbqfxrROxx {
  background: #ffffff;
}
.cid-tbqfxrROxx .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-tbqfxrROxx .mbr-figure {
  margin: 0 auto;
}
.cid-tbqfxrROxx figcaption {
  position: relative;
}
.cid-tbqfxrROxx figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-tbqfxrROxx .image-block {
    width: 100% !important;
  }
}
.cid-tbqfxEFJEM {
  background: #ffffff;
}
.cid-tbqfxEFJEM .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-tbqfxEFJEM .mbr-figure {
  margin: 0 auto;
}
.cid-tbqfxEFJEM figcaption {
  position: relative;
}
.cid-tbqfxEFJEM figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-tbqfxEFJEM .image-block {
    width: 100% !important;
  }
}
.cid-tbqfxRrzEe {
  background: #ffffff;
}
.cid-tbqfxRrzEe .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-tbqfxRrzEe .mbr-figure {
  margin: 0 auto;
}
.cid-tbqfxRrzEe figcaption {
  position: relative;
}
.cid-tbqfxRrzEe figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-tbqfxRrzEe .image-block {
    width: 100% !important;
  }
}
.cid-tbqfy3WUlx {
  background: #ffffff;
}
.cid-tbqfy3WUlx .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-tbqfy3WUlx .mbr-figure {
  margin: 0 auto;
}
.cid-tbqfy3WUlx figcaption {
  position: relative;
}
.cid-tbqfy3WUlx figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-tbqfy3WUlx .image-block {
    width: 100% !important;
  }
}
.cid-tbqfwKfQNH {
  background: #ffffff;
}
.cid-tbqfwKfQNH .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-tbqfwKfQNH .mbr-figure {
  margin: 0 auto;
}
.cid-tbqfwKfQNH figcaption {
  position: relative;
}
.cid-tbqfwKfQNH figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-tbqfwKfQNH .image-block {
    width: 100% !important;
  }
}
.cid-tbqfyewm9Z {
  background: #ffffff;
}
.cid-tbqfyewm9Z .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-tbqfyewm9Z .mbr-figure {
  margin: 0 auto;
}
.cid-tbqfyewm9Z figcaption {
  position: relative;
}
.cid-tbqfyewm9Z figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-tbqfyewm9Z .image-block {
    width: 100% !important;
  }
}
.cid-tbqfyp43IN {
  background: #ffffff;
}
.cid-tbqfyp43IN .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-tbqfyp43IN .mbr-figure {
  margin: 0 auto;
}
.cid-tbqfyp43IN figcaption {
  position: relative;
}
.cid-tbqfyp43IN figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-tbqfyp43IN .image-block {
    width: 100% !important;
  }
}
.cid-tbqfyzgHP6 {
  background: #ffffff;
}
.cid-tbqfyzgHP6 .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-tbqfyzgHP6 .mbr-figure {
  margin: 0 auto;
}
.cid-tbqfyzgHP6 figcaption {
  position: relative;
}
.cid-tbqfyzgHP6 figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-tbqfyzgHP6 .image-block {
    width: 100% !important;
  }
}
.cid-tbqfyJjRig {
  background: #ffffff;
}
.cid-tbqfyJjRig .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-tbqfyJjRig .mbr-figure {
  margin: 0 auto;
}
.cid-tbqfyJjRig figcaption {
  position: relative;
}
.cid-tbqfyJjRig figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-tbqfyJjRig .image-block {
    width: 100% !important;
  }
}
.cid-tbqgadHRnv {
  background: #ffffff;
}
.cid-tbqgadHRnv .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-tbqgadHRnv .mbr-figure {
  margin: 0 auto;
}
.cid-tbqgadHRnv figcaption {
  position: relative;
}
.cid-tbqgadHRnv figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-tbqgadHRnv .image-block {
    width: 100% !important;
  }
}
.cid-tbqgaxpHJt {
  background: #ffffff;
}
.cid-tbqgaxpHJt .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-tbqgaxpHJt .mbr-figure {
  margin: 0 auto;
}
.cid-tbqgaxpHJt figcaption {
  position: relative;
}
.cid-tbqgaxpHJt figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-tbqgaxpHJt .image-block {
    width: 100% !important;
  }
}
.cid-tbqi2qWxnN {
  background: #ffffff;
}
.cid-tbqi2qWxnN .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-tbqi2qWxnN .mbr-figure {
  margin: 0 auto;
}
.cid-tbqi2qWxnN figcaption {
  position: relative;
}
.cid-tbqi2qWxnN figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-tbqi2qWxnN .image-block {
    width: 100% !important;
  }
}
.cid-tbqiOLwPhG {
  background: #ffffff;
}
.cid-tbqiOLwPhG .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-tbqiOLwPhG .mbr-figure {
  margin: 0 auto;
}
.cid-tbqiOLwPhG figcaption {
  position: relative;
}
.cid-tbqiOLwPhG figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-tbqiOLwPhG .image-block {
    width: 100% !important;
  }
}
.cid-tbqiPibnhb {
  background: #ffffff;
}
.cid-tbqiPibnhb .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-tbqiPibnhb .mbr-figure {
  margin: 0 auto;
}
.cid-tbqiPibnhb figcaption {
  position: relative;
}
.cid-tbqiPibnhb figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-tbqiPibnhb .image-block {
    width: 100% !important;
  }
}
.cid-tbqg9Ps1qj {
  background: #ffffff;
}
.cid-tbqg9Ps1qj .image-block {
  margin: auto;
  width: 100% !important;
}
.cid-tbqg9Ps1qj .mbr-figure {
  margin: 0 auto;
}
.cid-tbqg9Ps1qj figcaption {
  position: relative;
}
.cid-tbqg9Ps1qj figcaption div {
  position: absolute;
  bottom: 0;
  width: 100%;
}
@media (max-width: 768px) {
  .cid-tbqg9Ps1qj .image-block {
    width: 100% !important;
  }
}
.cid-tbqXS9Pmmg {
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #000000;
}
